@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --clr-white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  padding: 2% 9%;
  width: 100vw;
  height: 100vh;
  background-color: var(--Violet);
  font-family: "Poppins";
  background-image: url(images/bg-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.logo {
  animation: bounce 2s ease-in-out infinite;
}

.background__website-img {
  width: 1000px;
  position: relative;
  top: 65px;
}

main {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__text {
  margin-left: 5%;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

p {
  font-style: normal;
  font-family: "Open Sans";
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.register__button {
  background-color: white;
  color: var(--Violet);
  padding: 15px 70px;
  text-decoration: none;
  border-radius: 50px;
  font-size: x-large;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384),
    -3px -3px 3px rgba(0, 0, 0, 0.068);
  transition: background-color 0.3s ease-in-out;
}

.register__button:hover {
  background-color: var(--Soft-Magenta);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 10vh;
}

.list__links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.footer__links.twitter {
  padding: 7px 11px;
}

.footer__links.facebook {
  padding: 7px 14px;
}

.footer__links {
  font-size: 1.2rem;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  padding: 7px 12px;
  border-radius: 50%;
  text-align: center;
  transition: color, border 0.3s ease-in-out;
}

.footer__links:hover {
  color: var(--Soft-Magenta);
  border: 1px solid var(--Soft-Magenta);
}

@media screen and (max-width: 1350px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-size: cover;
    background-position: top;
  }
  header {
    height: 10vh;
  }
  .logo {
    position: relative;
    top: -45px;
    animation: none;
    height: 120px;
    width: 120px;
  }
  main {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
  .background__website-img {
    margin: 0;
    width: 80%;
    position: relative;
    top: -40px;
  }
  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  p {
    font-family: "Open Sans";
    font-size: 15px;
    margin-bottom: 50px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  .main__text {
    margin-left: 0;
  }
}

@media screen and (max-height: 720px) {
  header {
    height: 100px;
  }
  main {
    height: 500px;
  }
  footer {
    height: 180px;
  }
}
